/*
Theme Name: Gulp learn
Author: Nikita Picovec
Author Email: nik.adrenalin@gmail.com
*/

$green: green;
$middle: 300px;


.box {
	width: $middle;
	height: $middle;
	margin: auto;
	margin-top: 20px;
	background: $green;
	border: 7px solid #000;
}